*{
	margin: auto;
}

#cabecera {
	width: 1000px;
	height: 100px;
	background-color: red;
	position: relative;
}

.contenido {
	width: 1000px;
	height: 500px;
	position: relative;
	text-align: center;
}

#pie {
	width: 1000px;
	height: 60px;
	background-color: green;
	position: relative;
}

#menu_social {
	width: 50px;
	height: 100px;
	position: fixed;
	margin-top: 200px;
}

.img_sociales {
	height: 50px;
	width: 50px;
	border-radius: 10px;
}

#tabla_dinero {
	
}

